*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins;
}
body{
    background-color: #fff;
}
/* landing page styling */

.navbar{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding-top: 40px;
}
.navbar .logo{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}
.nav-links ul{
    display: flex;
    gap: 115px;
    list-style: none;
    padding-top: 8px;
    font-size: bold;
}
.nav-links ul a{
    text-decoration: none;
    color: #000;
}
.navbar .btn .log-in{
    font-size: 15px;
    background: none;
    border: none;
    margin-right: 35px;
}
.navbar .log-in a{
    text-decoration: none;
    color: #000;
}
.navbar .btn .sign-up{
    font-size: 12px;
    background-color: #E87A14;
    color: #fff;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 45px;
    margin-bottom: 10px;
}
.navbar .btn .sign-up a{
    text-decoration: none;
    color: #fff;
}

/* hero section */

.hero-section{
    display: flex;
    margin: 140px;
    align-items: center;
    font-size: xx-large;
    word-spacing: 10px;
}
.title{
    color: #44C3EBCC;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
    line-height: 40px;
    letter-spacing: 10%;
    

}
.photo{
    margin-left: 40rem;
    height: 450px;
    width: 380px;
}
.CTA{
    font-size: 12px;
    background-color: #E87A14;
    color: #fff;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 45px;
    margin-top: 35px;
}
.CTA:hover{
    cursor: pointer;
}


/* log in and sign up page */


.wrapper{
    background: linear-gradient(to right, #f09643, #a93b04);
    width: 80%;
    height: 45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px auto;
}
.signin-card{
    background-color: #fff;
    height: 560px;
    width: 400px;
    border-radius: 10px 0 0 10px;
}
#logo{
    padding: 30px 170px 10px;
}
.signin-card .sub-title{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}
.signin-card .description{
    font-size: small;
    text-align: center;
    margin-bottom: 25px;
}
/*  */
.fb{
    display: flex;
    gap: 15px;
    padding: 0 25px;
    border: #000 solid 1px;
    border-radius: 25px;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: 15px 50px;
    height: 40px;
}
.fb i{
    color: blue;
}

.google{
    display: flex;
    gap: 15px;
    padding: 0 25px;
    border: #000 solid 1px;
    border-radius: 25px;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: 15px 50px;
    height: 40px;
}

.apple{
    display: flex;
    gap: 15px;
    padding: 0 25px;
    border: #000 solid 1px;
    border-radius: 25px;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: 15px 50px;
    height: 40px;
}
.twitter{
    display: flex;
    gap: 15px;
    padding: 0 25px;
    border: #000 solid 1px;
    border-radius: 25px;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: 15px 50px;
    height: 40px;
}
.twitter i{
    color: rgb(85, 85, 179);

}
.email{
    display: flex;
    gap: 15px;
    padding: 0 25px;
    border: #000 solid 1px;
    border-radius: 25px;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: 15px 50px;
    height: 40px;
}
.phone{
    display: flex;
    gap: 15px;
    padding: 0 25px;
    border: #000 solid 1px;
    border-radius: 25px;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: 15px 50px;
    height: 40px;
}
.img-card{
    width: 400px;
    height: 560px;
    vertical-align: top;
    border-radius: 0 10px 10x 0;
}